<form (ngSubmit)="onSubmit()" class="editor">
  <div class="form-group form-group--column">
    <label class="label" for="title">Title: </label>
    <input
      type="text"
      class="form-control input input--long"
      name="title"
      [(ngModel)]="titleField"
      (ngModelChange)="onTitleFieldChange()"
    />
  </div>

  <div class="form-group form-group--column">
    <label class="label" for="summary">Summary: </label>
    <textarea
      type="text"
      class="form-control input input--long"
      name="summary"
      [(ngModel)]="summaryField"
      (ngModelChange)="onSummaryFieldChange()"
    ></textarea>
  </div>

  <div class="form-group form-group--column">
    <label class="label" for="metaTitle">Meta Title: </label>
    <input
      type="text"
      class="form-control input input--long"
      name="metaTitle"
      [(ngModel)]="metaTitleField"
      (ngModelChange)="onMetaTitleFieldChange()"
    />
  </div>

  <div class="form-group form-group--column">
    <label class="label" for="metaDescription">Meta description: </label>
    <textarea
      type="text"
      class="form-control input input--long"
      name="metaDescription"
      [(ngModel)]="metaDescriptionField"
      (ngModelChange)="onMetaDescriptionFieldChange()"
    ></textarea>
  </div>

  <div class="form-group">
    <label class="label" for="author">Page Hero Image: </label>
    @if (pageHeroPath) {
    <img
      [src]="pageHeroPath"
      alt="Page Hero Image"
      class="editor__pagehero-preview"
    />
    <button type="button" class="btn btn--danger" (click)="onRemovePageHero()">
      Remove
    </button>
    } @else {
    <input type="file" name="image" (change)="onPageHeroSelected($event)" />
    }
  </div>

  <div class="form-group">
    <input
      type="checkbox"
      id="published"
      name="is-published"
      [(ngModel)]="publishedField"
      (ngModelChange)="onPublishedFieldChange()"
    />
    <label class="label" for="published">Published</label>
  </div>

  <div class="form-group">
    @for(tag of tagsList(); track tag.id) {
    <input
      type="checkbox"
      id="tag{{ tag.id }}"
      name="tag{{ tag.label.en }}"
      [(ngModel)]="tag.selected"
    />
    <label class="label" for="tag{{ tag.id }}">{{
      tag.label[langSwitcherService.editorLang()]
    }}</label>
    }
  </div>

  <div class="form-group">
    <input type="checkbox" id="top" name="top" [(ngModel)]="top" />
    <label class="label" for="top">Set as TOP news</label>
  </div>

  <div class="form-group form-group--column">
    <label class="label" for="author">Author:</label>
    <input
      id="author"
      type="text"
      class="form-control input"
      name="author"
      [(ngModel)]="author"
    />
  </div>

  <div class="form-group form-group--column">
    <label class="label" for="date">Creation Date: </label>
    <input
      id="date"
      type="date"
      class="form-control input"
      name="date"
      [(ngModel)]="date"
    />
  </div>

  <div class="form-group">
    <input
      type="checkbox"
      id="autourl"
      name="autourl"
      [(ngModel)]="autoUrl"
      (ngModelChange)="onAutoUrlChange()"
    />
    <label class="label" for="autourl">Set URL automaticly: </label>
  </div>

  <div class="form-group form-group--column">
    <label class="label" for="url">URL: </label>
    <input
      id="url"
      type="text"
      class="form-control input"
      name="url"
      [(ngModel)]="url"
      [disabled]="autoUrl"
      (ngModelChange)="onUrlChange()"
    />
  </div>

  @if (isUrlNotunique) {
  <p class="color-danger">This URL: "{{ url }}" already exist!</p>
  }

  <div class="form-group">
    <button type="submit" class="btn">Save</button>
    <button type="button" class="btn" (click)="onCancel()">Cancel</button>
  </div>

  <div class="form-group form-group--column">
    <label class="label" for="articleLang">Language: </label>
    <select
      class="form-control input"
      name="articleLang"
      (change)="onChangeEditorLang($event)"
    >
      <option
        *ngFor="let lang of langSwitcherService.langList"
        [value]="lang"
        [selected]="langSwitcherService.editorLang() === lang"
      >
        {{ lang }}
      </option>
    </select>
  </div>

  <div class="form-group form-group--column">
    <label class="label" for="content">Content</label>
    <angular-editor
      name="content"
      [placeholder]="'Enter text here...'"
      [(ngModel)]="contentField"
      [config]="editorConfig"
      (ngModelChange)="onContentFieldChange()"
    ></angular-editor>
  </div>
</form>
