<form (ngSubmit)="onSubmit()" class="editor">
    <div class="form-group">
        <label for="articleLang">Language</label>
        <select class="form-control" name="articleLang" (change)="onChangeEditorLang($event)">
            <option *ngFor="let lang of langSwitcherService.langList" [value]="lang" [selected]="langSwitcherService.editorLang() === lang">{{ lang }}</option>
        </select>
        <span>{{ langSwitcherService.editorLang() }}</span>
    </div>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" [(ngModel)]="title" >
    </div>
    <div class="form-group">
        <label for="author">Page Hero Image</label>
        @if (pageHeroPath) {
            <img [src]="pageHeroPath" alt="Page Hero Image" class="editor__pagehero-preview" />
            <button type="button" class="btn btn-danger" (click)="onRemovePageHero()">Remove</button>
        } @else {
            <input type="file" name="image" (change)="onPageHeroSelected($event)" />
        }
        
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <angular-editor name="content" [placeholder]="'Enter text here...'" [(ngModel)]="content" [config]="editorConfig"></angular-editor>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
</form>
