<section class="splide">
  <div class="splide__track">
    <div class="pagehero">
      <div class="wrap">
        <h1
          class="pagehero__headline"
          i18n="
            site header|An introduction header for this
            sample@@homepage.headline"
        >
          Home page
        </h1>
      </div>
    </div>
    <ul class="splide__list">
      <li class="splide__slide">
        <img src="/api/image/slider/DJI_0014-min.webp" />
      </li>
      <li class="splide__slide">
        <img src="/api/image/slider/DJI_0041-min.webp" />
      </li>
      <li class="splide__slide">
        <img src="/api/image/slider/DJI_0069-min.webp" />
      </li>
    </ul>
  </div>
</section>
