<header>
  <app-site-logo />
  <nav [class.open]="openNavMenu()">
    <!-- <a routerLink="/user" class="header-link" routerLinkActive="active"
      >Login/SignUp</a
    > -->
    @if (userService.isLoggedIn()) {
    <a routerLink="/admin" class="header-link" routerLinkActive="active"
      >Admin Panel</a
    >
    <button class="btn" (click)="onLogout()">
      Logout {{ timeToLogout() }}
    </button>
    }
    <app-lang-switcher [providedLangs]="providedLangs()" />
    <app-close-button class="close-button" (click)="onCloseNavMenu()" />
  </nav>
  <app-burger
    class="burger"
    [class.open]="openNavMenu()"
    (click)="onOpenNavMenu()"
  />
</header>

<app-admin-tools [nodeId]="nodeId()" />
