<app-page [nodeId]="article()?.id" [providedLangs]="providedLangs()">
  <div class="pagehero" ngProjectAs="top-content">
    <div class="pagehero__back">
      <a routerLink="/">
        <img
          class="back-icon"
          src="assets/images/arrows/back-arrow.svg"
          alt="Back"
        />
        <span i18n>Back</span>
      </a>
    </div>
    @if (article()) {
    <img
      class="pagehero__banner"
      [src]="article()!.img.pageHero"
      alt="{{ article()!.title }}"
    />
    <h1 class="pagehero__title">{{ articleTitle() }}</h1>
    }
  </div>
  <article class="article">
    @if (article()) {
    <ul class="article__tags tags">
      @for (tag of tags(); track tag.id) {
      <li class="tags__tag">{{ tag.label[lang()] }}</li>
      }
    </ul>
    <div class="article__data">
      <p class="color-secondary">
        <span i18n>Author</span><span>: </span>
        <span>{{ author() }}</span>
      </p>
      <p class="color-secondary">
        <span i18n>Date</span><span>: </span>
        <span>{{ date() | date : "dd.MM.yyyy" }}</span>
      </p>
    </div>
    <div
      id="top"
      class="article__body post"
      [innerHTML]="articleContent() | sanitizeHtml"
    ></div>
    }
  </article>
  <a [routerLink]="[]" fragment="top" class="btn btn--primary totop" i18n
    >To top</a
  >
</app-page>
