.btn {
  background-color: var(--primary);
  color: var(--white);
  border: none;
  padding: 1rem 1.3rem;
  font-size: 1.8rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 1.2rem;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--info);
  }

  &--danger {
    background-color: var(--danger);

    &:hover {
      background-color: var(--dark);
    }
  }
}

a.btn {
  text-decoration: none;
}
