html {
  font-size: 62.5%;
  line-height: 1.4;
}

.color-danger {
  color: var(--danger);

  &:hover {
    color: var(--black);
  }
}

.color-secondary {
  color: var(--secondary);
}

.bold {
  font-weight: 700;
}
