footer {
  padding-block: 1rem;
  background-color: var(--black);
  color: var(--white);

  & a {
    color: var(--primary);
  }

  & .cookie-settings {
    padding: 0;
    border: none;
    background: none;
    color: var(--light);
    font: inherit;
    font-size: 1.4rem;
    text-decoration: underline;
    cursor: pointer;
  }
}
