/* You can add global styles to this file, and also import other style files */
@import "./styles/palette.scss";
@import "./styles/links.scss";
@import "./styles/buttons.scss";
@import "./styles/typography.scss";
@import "./styles/breakpoints.scss";
@import "./styles/layout.scss";
@import "./styles/form.scss";
@import "@splidejs/splide/css";

body {
  font-family: "Ysabeau", "Roboto", sans-serif;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  background-color: var(--white);
}

.angular-editor-textarea {
  & img {
    max-width: 25%;
    height: auto;
  }
}
